/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* banner图层的透明度 */
.home-carousel .dark-mask {
  opacity: 0.8;
}

/* footer版权区域的高度 */
#copyright {
  padding: 10px 0;
}

/* banner和近期博客模块之间的高度 */
.bar {
  padding: 0;
}
.heading {
  margin-bottom: 0; 
}

/* list.html和single.html头部的贯穿图片 */
#heading-breadcrumbs {
  background: url(../img/texture-green.png) center center repeat;
}