<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        <p class="text-muted text-uppercase mb-small text-right">{{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        {{ if isset .Params "tags" }}
                        {{ if gt (len .Params.tags) 0 }}
                            <hr style="border-top: 1px solid #acaaaa; margin-top: 28px;"/>
                            <div class="panel sidebar-menu">
                                <div class="panel-body">
                                    <ul class="tag-cloud">
                                        {{ range $name, $items := .Params.tags}}
                                        <li><a href="{{ $.Site.BaseURL }}tags/{{ $items | urlize | lower }}"><i class="fa fa-tags"></i> {{ $items }}</a>
                                        </li>
                                        {{ end}}
                                    </ul>
                                </div>
                            </div>
                        {{ end }}
                        {{ end }}
                        {{ partial "donate.html" . }}
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- ***toc *** -->

                        {{ partial "toc.html" . }}

                        <!-- *** toc END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
                
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
